/* 
 * require bootstrap/dist/css/bootstrap.min
 * require_tree . 
 * require_self 
*/
@import "bootstrap-sprockets";
@import "bootstrap";


html {
  font-family: "メイリオ","Century";
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  background-color: rgb(177, 231, 245);
  height: 5rem;
  width: 100%;
}

.crearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header li,.footer li {
  list-style: none;
  float: left;
  line-height: 5rem;
  text-align: center;
  color: darkslategray;
}

.header-link,.footer-link {
  font-weight: bold;
  font-size: 1.5rem;
  width: 25%;
}

.header-link:hover,.footer-link:hover {
  background-color: rgb(145, 225, 245);
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  background-color: rgb(177, 231, 245);
  height: 5rem;
  width: 100%;
}

.information {
  padding: 1rem;
  font-size: 1.5rem;
  color: darkred;
}

.login_title {
  text-align: center;
  padding: 15px 0;
  color: rgb(61, 42, 63);
}

.login_title h2 {
  font-size: 2.5rem;
}

.login-form {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border: solid 0.1px rgba(226, 223, 223, 0.856);
  background-color: rgb(235, 235, 238);
  text-align: center;
  padding: 20px 20px 40px 20px;
  border-radius: 30px;
}

h3 {
  width: 200px;
  text-align: center;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border-radius: 30px;
  padding: 0.3rem;

}

.form-control {
  background-color: white;
  border-radius: 15px;
  min-width: 80%;
}

.form-control::placeholder {
  text-align: center;
}

.login-btn {
 margin-top: 30px;
}

.btn-primary {
  width: 100%;
  border-radius: 15px;
}

.main {
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
  padding: 1rem 4rem 2rem 4rem;
  height: 80%;
}

.user-create,.blog-create {
  padding: 0.5rem;
}

.user-profile,.blog-show {
  padding: 2rem;
  font-size: 2.2rem;
}

#user-icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  margin-left: 1rem;
}

#user-name,#user-eamil {
  font-weight: bold;
}

.blog-title {
  margin-bottom: 2.5rem;
}

.content {
  border-radius: 15px;
}

.btn-back {
  padding: 1rem;
}

.confirm-form {
  padding-bottom: 1rem;
}

.confirm-title {
  font-size: 2rem;
}

.col-md-6 {
  border: solid 0.05rem rgba(226, 223, 223, 0.856);
}

.col-md-6 table {
  width: 560px;
}

.col-md-6 td {
  padding: 1rem 0;
}

.blog-image {
  height: 310px;
  border-top: solid 0.025rem rgba(226, 223, 223, 0.856);
  border-bottom: solid 0.025rem rgba(226, 223, 223, 0.856);
  border-collapse: separate;
  empty-cells: show;
  text-align: center;
}

.user-icon {
  width: 70px;
}

.user-name {
  font-size: 1.75rem;
  font-weight: bold;
}

.blog-label {
  font-size: 2rem;
}

.blog-date {
  width: 530px;
}

.data-at {
  width: 90px;
}

.data-btn {
  width: 270px;
}

.data-btn li {
  list-style: none;
  float: left;
  text-align: left;
  padding-left: 1rem;
}

.data-favorite {
  text-align: right;
}

.favorite-delete {
  background-color: springgreen;
  border: solid 0.05rem rgb(7, 226, 116);
  color : darkgreen;
}

.favorite-delete .glyphicon-ok {
  font-weight: bold;
}

.favorite-create {
  border: solid 0.05rem rgb(186, 189, 186);
  color : rgb(175, 177, 175);
}

#error_explanation {
  color: red;
}

